.container{
    width: 600px;
    height: 600px;
    padding-top: 50px;
    background: white;
}

.container .sticky-note-template .cursor .note-title .close-button {
    float: right;
      position: relative;
    color: #e64980;
    cursor: pointer;
    }

    .container .sticky-note-template .cursor .note-title .tooltip {
        visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
      
      }

      .container .sticky-note-template .cursor .note-title .tooltip::after{
        content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
      
      }
      
      .container .sticky-note-template .cursor .note-title .close-button:hover .tooltip{
        visibility: visible;
        opacity: 1;
      }
/*.container .sticky-note-template .note-bottom-wrapper .size-button .tooltip {
    visibility: hidden; 
    width: 200px; 
    background-color: Indigo; 
    color: Yellow; 
    text-align: center; 
    border-radius: 10px;
    padding: 10px 5px; 
    position: absolute; 
    z-index: 1;
    top: 200%; 
    left: 50%; 
    margin-left: -105px;
  
  }
  
  .container .sticky-note-template .note-bottom-wrapper .size-button:hover .tooltip{
    visibility: visible;
  }*/


.sticky-note-template {
    min-width: 100px;
    min-height: 100px;
    max-width: 500px;
    max-height: 500px;

    background: #FCF8D9;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    margin: 0 auto;
    /*margin-top: 1rem;*/
  }
  
  .note-title {
      height: 20px;
    font-size: 1rem;
    text-align: center;
    font-weight: 100;
    background: #FCF4AD;
    color: white;
    border-bottom: 1px solid #C8C7BE;
  }
  
  .note-middle-wrapper {
      min-width: 100px;
      min-height: 80px;
    border-bottom: 1px solid #C8C7BE;
  }
  
  .note-bottom-wrapper {
    height: 20px;
  }

