.container {
    background: white;
    width:100px;
    height:100px;
}

.pin {
    height:100%;
    float:left;
    cursor: pointer;
    color: gray;
}

.pin:hover {
    background:#e3fafc;
}

.change-color-button {
    height:100%;
    float:left;
    position: relative;
    cursor: pointer;
    color: gray;
}

.blue {
    float:left;
    width: 30px;
    height: 30px;
    background: blue;
}

.gray {
    float:left;
    width: 30px;
    height: 30px;
    background: gray;
}

.yellow {
    float:left;
    width: 30px;
    height: 30px;
    background: yellow;
}

.color-tab {
    visibility: hidden;
    width: 200px;
    height: 150px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    padding-left: 30px;
    margin-left: -30px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 0.75rem;
}

.color-tab::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
  
  
/*.change-color-button:hover .color-tab{
    visibility: visible;
    opacity: 1;
}*/

.change-color-button:hover {
    background:#e3fafc;
}

.change-color-button:active .sticky-note-template{
    background: #e64980;
}

.close-button {
    height:100%;
    float:left;
    position: relative;
    color: #e64980;
    cursor: pointer;
}

.tooltip {
    visibility: hidden;
    width: 60px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -30px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 0.75rem;
}

.tooltip::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
      
}
      
.close-button:hover .tooltip{
    visibility: visible;
    opacity: 1;
}

.close-button:hover {
    background: #e3fafc;
}

.sticky-note-template {
    min-width: 100px;
    min-height: 100px;
    max-width: 500px;
    max-height: 500px;

    
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    margin: 0 auto;
    /*margin-top: 1rem;*/
}
  
.note-title {
    height:20px;
    background: #FCF4AD;
    color: white;
    border-bottom: 1px solid #C8C7BE;
}
  
.note-middle-wrapper {
    min-width: 100px;
    min-height: 80px;
    background: #FCF8D9;
    border-bottom: 1px solid #C8C7BE;
}
  
.note-text {
    align-items: center;
    cursor: pointer;
    transition: all 0.15s;
    user-select: none;
}


  .note-middle-wrapper textarea {
    width: 80px;
    height: 80px;
    min-width: 80px;
    min-height: 80px;
    max-width: 100%;
    max-height: 100%;
    font-size: 1rem;
    outline: none;
    border: none;
    padding: 5px 5px 5px 5px;
    background: #FCF8D9;
}

.note-bottom-wrapper {
    height: 50px;
    background: #FCF8D9;
    overflow:auto;
}

