.container {
    background: white;
}

.pin {
    height:100%;
    float:left;
    cursor: pointer;
    color: gray;
}

.pin:hover {
    background:#e3fafc;
}

.change-color-button {
    height:100%;
    float:left;
    position: relative;
    cursor: pointer;
    color: gray;
}

.black {
    float:left;
    width: 30px;
    height: 30px;
    background: black;
}

.white {
    float:left;
    width: 30px;
    height: 30px;
    background: white;
}

.yellow {
    float:left;
    width: 30px;
    height: 30px;
    background: yellow;
}

.color-tab {
    visibility: hidden;
    width: 200px;
    height: 150px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    padding-left: 30px;
    margin-left: -30px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 0.75rem;
}

.color-tab::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
  
  
.change-color-button:hover .color-tab{
    visibility: visible;
    opacity: 1;
}

.change-color-button:hover {
    background:#e3fafc;
}

.change-color-button:active .sticky-note-template{
    background: #e64980;
}

.close-button {
    height:100%;
    float:left;
    position: relative;
    color: #e64980;
    cursor: pointer;
}

.tooltip {
    visibility: hidden;
    width: 60px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -30px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 0.75rem;
}

.tooltip::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
      
}
      
.close-button:hover .tooltip{
    visibility: visible;
    opacity: 1;
}

.close-button:hover {
    background: #e3fafc;
}

.sticky-note-template {
    min-width: 100px;
    min-height: 100px;
    max-width: 500px;
    max-height: 500px;

    background: #FCF8D9;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    margin: 0 auto;
    /*margin-top: 1rem;*/
}
  
.note-title {
    height:20px;
    background: #FCF4AD;
    color: white;
    border-bottom: 1px solid #C8C7BE;
}
  
.note-middle-wrapper {
    min-width: 100px;
    min-height: 80px;
    border-bottom: 1px solid #C8C7BE;
}
  
.note-bottom-wrapper {
    height: 20px;
}

